@define-color foreground #c5c7ca;
/* @define-color background #0f0d10; */
@define-color background #000000;
@define-color color0 #0f0d10;
@define-color color1 #6d6e72;
@define-color color2 #7b7e81;
@define-color color3 #807f84;
@define-color color4 #7e8185;
@define-color color5 #93969b;
@define-color color6 #9a9da2;
@define-color color7 #c5c7ca;

@define-color color8  #898b8d;
@define-color color9  #6d6e72;
@define-color color10 #7b7e81;
@define-color color11 #807f84;
@define-color color12 #7e8185;
@define-color color13 #93969b;
@define-color color14 #9a9da2;
@define-color color15 #c5c7ca;
